.image-logo{
    width: 128px;
  }
  ion-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #ffffff;
    display: flex; 
    flex-wrap: wrap; 
  }
  
  ion-card-header {
    font-size: 1.5rem;
    padding: 16px;
    width: 100%; 
    text-transform: capitalize;
  }
  
  ion-card-content {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%; 
  }
  
  ion-img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    border: 2px solid;
    margin-bottom: 16px;
    padding: 10px;
  }
  
  ion-list {
    background-color: #f8f8f8;
    padding: 8px;
    width: 100%; 
  }
  
  ion-item {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-label, ion-chip {
    font-size: 1rem;
    color: #000;
    margin-right: 8px;
  }
  
  @media (max-width: 768px) {
    ion-card-content {
      flex-direction: column; 
    }
  
    ion-img {
      width: 100%; 
      max-width: none; 
    }
  
    ion-item {
      width: 100%; 
      margin-bottom: 8px; 
    }
  }
  